---
import Dock from "../components/usabledock.astro";
import Window from "../components/window.astro";
---
<style>
.details {
  width: calc(100% - var(--page-padding) * 2);
  height: calc(100% - var(--page-padding) * 2);
  background-size: cover;  
  color: var(--foreground);
  border-radius: var(--ui-round);
  padding: calc(var(--page-padding) / 1);
}

.page-windows {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  gap: 8px;
  position: relative;
}
</style>

<div class="details">
  <div id="page-wins" class="page-windows">
    <Window title="Seila"></Window>
    <Window title="Seila"></Window>    
  </div>
  <Dock/>  
</div>
<script>
const windows = document.getElementById("page-wins");
const OFFSET_STEP = 12;
let current_offset = 0;

/** Goes to the next window assuming the current one has the provided `index` */
function goto_next_window(index) {
  const window = windows.children[index];
  const nextwindow = windows.children[index+1];
  current_offset += window.clientWidth + OFFSET_STEP;
  nextwindow.style.transform = window.style.transform = `translateX(-${current_offset}px)`;
}

/** Goes to the next window assuming the current one has the provided `index` */
function goto_previous_window(index) {
  const window = windows.children[index];
  const nextwindow = windows.children[index-1];
  
  current_offset = Math.max(0, current_offset - (window.clientWidth + OFFSET_STEP + nextwindow.clientWidth));
  window.style.transform = `translateX(-${current_offset}px)`;
  nextwindow.style.transform = `translateX(-${Math.max(0,current_offset)}px)`;
  
}

function find_index(target, collection){
  let i = 0;
  const len = collection.length;
  while(target !== collection[i])
    if(i++ >= len) return -1;
  return i;
}


windows.addEventListener("click", e => {
  const clicked = e.target;
  const current_window_index = find_index(clicked.closest(".slynx-window"), windows.children);
  const current_window = windows.children[current_window_index];
  if(current_window_index === -1) return alert("Achei um bug, index invalido");
  
  switch(e.target.dataset.action) {
    case "next":{
      if(current_window_index === windows.children.length - 1) break;
      goto_next_window(current_window_index);
      break;
    }
    case "prev":{
      
      if(current_window_index === 0) break;
      goto_previous_window(current_window_index);
      break;
    }
    case "decrease":{
      const window_style = current_window.style;
      window_style.width = `${(parseInt(window_style.width) || 100)-10}%`;
      if(parseInt(window_style.width) === 0) window_style.width = '100%';
      break;
    }
    case "increase":{
      const window_style = current_window.style;
      window_style.width = `${(parseInt(window_style.width) || 100)+10}%`;
      break;
    }
    default: {}
  };
});
</script>
