:root {
    --footer-padding: 12px;
}
.outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 100%;
  border: 1px solid var(--background);
  border-bottom-width: 0px;
}

.footer {

  padding-bottom: calc(var(--footer-padding) * 2);
  margin: 10px 10px 0px 10px;
  width: calc(100% - var(--footer-padding));
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  
}
.footer > * {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer > div > *:first-child {
  color: var(--background);
  text-weight: 700;
}

.footer > div > a {
  color: var(--background);
  text-decoration: none;
  transition-duration: 300ms;
}
.footer > div > a:hover {
  color: var(--primary-base-color);
}

.footer_title {
  color: var(--secondary-base-color);
}

.end_of_page {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--footer-padding);
  padding-bottom: var(--footer-padding);
}
