.main {
    background-color: white;
    color: black;
    height: 100vh;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.main[data-theme="dark"] {
    background-color: #1a1a1a;
    color: white;
}

.container {
    background-color: #2a2a2a;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.main[data-theme="dark"] .container {
    background-color: #2a2a2a;
    color: white;
}