.capabilities_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container {
  display: flex;
  gap: 32px;
}

.enphasized {
  color: var(--hover-color);
}

.title {
  color: var(--title-color);
}

.capability {
  color: var(--foreground);
  border-radius: 2rem;
  border-width: 2px;
  border-left-width: 0.666rem;
  border-color: var(--primary-base-color);
  border-style: solid;

  display: flex;
  flex-direction: column;
  gap: 12rem;
  
  padding: 2rem;

  transition-duration: 500ms;
}

.capability:hover {
  border-color: var(--hover-color);
}

.capability:hover > .traces > .current_capability_trace {
  background-color: var(--hover-color);
}

.traces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.current_capability_trace {
  width: 100%;
  height: 1rem;
  background-color: var(--primary-base-color);
  border-radius: 1.25rem;
  transition-duration: 300ms;
}

.capability_trace {
  width: 50%;
  height: 1rem;
  background-color: var(--foreground);
  border-radius: 1.25rem;
}
