.details {
  width: calc(100% - var(--page-padding) * 2);
  height: calc(100% - var(--page-padding) * 2);
  background-size: cover;  
  color: var(--foreground);
  border-radius: var(--ui-round);
  padding: calc(var(--page-padding) / 1);
}

.page-windows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  gap: 8px;
  position: relative;
}