.details {
    width: calc(100% - var(--page-padding) * 2);
  height: calc(100% - var(--page-padding) * 2);
  background-size: cover;  
  color: rgb(var(--foreground));
  border-radius: rgb(var(--ui-round));
  padding: var(--page-padding);
  overflow-y: auto;
}

.page-windows {
  background-image: var(--wallpaper);
  background-size: cover;
  border-radius: var(--window-round);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  gap: 12px;
  position: relative;
}
