---
import '../styles/globals.css';
import UiBar from "../components/Uibar.tsx";
import {Moon} from "@lucide/astro";
import ThemeSwitcher from "../transtions/theme_switcher.astro"
import Home from "../pages_contents/home.astro";
import { BarDirection } from '../components/Uibar.tsx';
---

<style>

:root {
  --page-padding: 12px;
}

.ui {
  width: 100%;
  height: 100%;
}


.header {
  display: flex;
  flex-direction: var(--header-direction);
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  width: var(--header-width);
  color: var(--secondary);
  gap: 16px;
}

.header > * {
  transition-duration: 300ms;
  cursor: pointer;
  border-radius: var(--button-round);
  padding: 2px;
}

.header > *:hover {
  scale: 1.2;
  background-color: var(--background);
}


</style>
<head>
  <meta charset="UTF-8" />
  <title>Minha página</title>
</head>
<div class="ui">
  <UiBar 
  direction={BarDirection.Top} 
  icons={
    <>
      <ThemeSwitcher initiator_id="theme-switcher"><Moon /></ThemeSwitcher>
      <p>Abacate</p>
      <p>Melancia</p>
    </>
  }
>
  <Home />
</UiBar>
</div>



