:root {
  --background: #ffffff;
  --foreground: #171717;

  --frame-background: #1b1b1b;
  --frame-foreground: #ededed;

  --title-color: #000;

  /* Pallete */
  --primary-base-color: #00451f;
  --secondary-base-color: #007334;
  --brand-color: #00a349;
  --highlight-color: #00db63;
  --hover-color: #01ff72;

  --hover-button: rgba(255, 255, 255, 0.1);

  --frame-width: 24px;
  --frame-small-width: calc(var(--frame-width) / 2);
  --frame-padding: var(--frame-width) var(--frame-small-width) var(--frame-small-width) var(--frame-small-width);
  --frame-round: 16px;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #1b1b1b;
    --foreground: #ededed;

    --frame-background: #fff;
    --frame-foreground: #000;

    --title-color: #fff;
  }
}

:root.dark {
  --background: #1b1b1b;
  --foreground: #ededed;

  --frame-background: #fff;
  --frame-foreground: #000;

  --title-color: #fff;
  --hover-button: rgba(0, 0, 0, 0.1);
}

:root.light {
  --background: #ffffff;
  --foreground: #171717;

  --frame-background: #1b1b1b;
  --frame-foreground: #ededed;

  --title-color: #000;
  --hover-button: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  padding: var(--page-padding);
  overflow: hidden;

  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  all: unset;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:active {
    transform: scale(0.95);
  }

  &:has(svg) {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--hover-button);
    }
  }
}