:root {
  --background: #000000;
  --foreground: #171717;


  --frame-background: #1b1b1b;
  --frame-foreground: #ededed;

  --title-color: #000;


  /* Pallete */
  --commum-text: #9CA3AF;
  --card-icons: #61FFA8;
  --primary-base-color: #00451f;
  --primary-base-color-rgb: 0, 69, 31;
  --secondary-base-color: #007334;
  --brand-color: #00a349;
  --highlight-color: #00db63;
  --hover-color: #01ff72;
  --hover-button: #f0f0f0;
  --title-color: #000;


  /* Frame */
  --frame-width: 24px;
  --frame-small-width: calc(var(--frame-width) / 2);
  --frame-padding: 0px var(--frame-small-width) var(--frame-small-width) var(--frame-small-width);
  --frame-round: 50px;

  /* Footer */
  --footer-padding: var(--frame-padding);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

button {
  all: unset;
}

body,
html {
  width: 100vw;
  max-width: 100%;
  padding: 0;
  background-color: var(--background);
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #000000;
    --foreground: #ededed;

    --frame-background: #fff;
    --frame-foreground: #000;

    --title-color: #fff;
  }
}

:root.dark {
  --background: #000000;
  --foreground: #ededed;

  --frame-background: #fff;
  --frame-foreground: #000;

  --title-color: #fff;
  --hover-button: rgba(0, 0, 0, 0.1);
}

:root.light {
  --background: #ffffff;
  --foreground: #171717;

  --frame-background: #1b1b1b;
  --frame-foreground: #ededed;

  --title-color: #000;
  --hover-button: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

button {
  all: unset;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:active {
    transform: scale(0.95);
  }

  &:has(svg) {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--hover-button);
    }
  }
}