.main {
  --gap-size: 10rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
  padding: calc(var(--gap-size));
}
.main > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.entry {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 2rem;
}
.entry > h1 {
  font-size: 6rem;
  color: var(--hover-color);
}

.entry > h2 {
  font-size: 3rem;
  color: var(--foreground);
}

.entry > .start_now {
  background-color: rgba(var(--primary-base-color-rgb), 0.3);
  border: 3px solid var(--hover-color);
  border-radius: 1rem;
  padding: 1rem;
  transition-duration: 300ms;
  cursor: pointer;
}

.start_now:hover {
  scale: 1.1;
  
}

.entry > .start_now > a {
  text-decoration: none;
  color: var(--hover-color);
}

.lang_specs {  
  color: var(--foreground);
}

.lang_specs > div {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.feature_icon{
  color: var(--hover-color);
}

.faq_container {
  width: 100%;
}

.faq_title {
  color: var(--foreground);
  font-size: 2rem;
}
