.contents {
  width: 100%;
  height: 100%;
  position: relative;
}

.contents-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  position: relative;
  margin-left: 80px;
  width: 100%;
  margin: var(--contents-padding);
}
.contents-bg :is(h1,h2) {
  color: var(--primary);
}

.lang-title {
  margin: 0;
  padding: 0;
  font-size: 16em;
}

.subtitle {
  margin-top: calc(var(--title-size) / 16);
  padding: 0;
  font-size: 6em;
  width: 40%;
}

.contents-fg {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.content > * {
  width: 100%;
  height: 100%;
}

:is(.left-content, .right-content) > * {
  --content-blur: 12px;
  --content-effect: blur(var(--content-blur));
  background-color: var(--transparent-fg);
  border-color: var(--foreground);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  
  color: var(--foreground);
  backdrop-filter: var(--content-effect);
  transition-duration: 700ms;
}
:is(.left-content, .right-content) > *:hover {
  transition-duration:300ms;
  scale: 0.98;
  box-shadow: 0px 0px 12px var(--foreground);
}


.topic {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  font-family: Inter;
}

.topic-title {
  margin: 0px;
  margin-top: 12%;
  padding: 0;
}
