.contents {
  width: 100%;
  height: 100%;
  gap: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 96px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.content > * {
  width: 100%;
  height: 100%;
}

.contents-left {
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgb(var(--primary));
}
.content-center {
  height: 100%;
}

.lang-title {
  margin: 0;
  padding: 0;
  font-size: 12em;
}

.subtitle {
  padding: 0;
  font-size: 4em;
  color: rgb(var(--foreground));
}

.contents-fg {
  width: 100%;
  height: 100%;
  z-index: 2; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;
}
.content-center {
  width: 100%;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
}

.topic-preview:hover{
  transition-duration:300ms;
  scale: 0.98;
}

.topic-preview {
  cursor: pointer;
  
  color: rgb(var(--foreground));
  border-color: rgb(var(--mid));

  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: 192px;
  padding: 0px 24px 24px 24px;
}

.topic-preview p {
  font-size: 16px;
  text-align: center;
}

.topic {
  --topic-padding: 12px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
    
  width: calc(100% - var(--topic-padding) * 2);
  height: 100%;
  
  border-radius: var(--window-round);
  padding: var(--topic-padding);

  opacity: 1;
  transform: scale(0) translateY(-50%);
  animation: spawn 700ms forwards cubic-bezier(0.99,0.28,0.00,1.39); /* duração + forwards */
  background-color: rgb(var(--background-contrasted));
  box-shadow: 0px 0px 24px rgb(var(--background-contrasted));
}


@keyframes spawn {
  to {
    
    transform: scale(1);
  }
}

.topic-title, .data-title {
  margin: 0px;
  padding: 0;
}
.topic-preview .topic-title {
  margin-top: 12px;
}

.topic-title {
  font-size: 24px;
}

