.title-wrapper, .title-wrapper::after {
  position: relative;
  --padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--padding) 0px;
  gap: var(--padding);
}

.title-wrapper > * {
  padding: 0;
  margin: 0;
  font-size: 32px;
}


.title-wrapper > h1 {
  color: rgb(var(--primary));
  font-size: 120px;
}
.title-wrapper > p {
  color: rgb(var(--primary));
}

.title-wrapper > :nth-child(3) {
  font-size: 20px;
}
