.title-wrapper, .title-wrapper::after {
  position: relative;
  --padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--padding) 0px;
  gap: var(--padding);
}
 .title-wrapper::after{
   --padding: 0px;
  transform: translateY(-10%);
  content: "Slynx";
  font-size: 128px;
  color: rgba(var(--primary), 1);
  width: 100%;
  height: 100%;
  background-color: transparent;
  filter: blur(18px);
  position: absolute;
}

.title-wrapper > * {
  padding: 0;
  margin: 0;
  font-size: 32px;
}


.title-wrapper > h1 {
  color: rgb(var(--primary));
  font-size: 120px;
}
.title-wrapper > p {
  color: rgb(var(--primary));
}
