---
import "../styles/globals.css"
const prop = Astro?.props ?? {direction: "left"};
---
<style>

:root {
  --uibar-width: 30px;
  --uibar-small-width: 10px;
}

.uibar {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.inner.top {
  flex-direction: column;
  left: var(--uibar-small-width);
  top: var(--uibar-width);
  right: var(--uibar-small-width);
  bottom: var(--uibar-small-width);
}

.inner.bottom {
  flex-direction:column;
  left: var(--uibar-small-width);
  top: var(--uibar-small-width);
  right: var(--uibar-small-width);
  bottom: var(--uibar-width);
}

.inner.right {
  flex-direction: column;
  left: var(--uibar-small-width);
  top: var(--uibar-small-width);
  right: var(--uibar-width);
  bottom: var(--uibar-small-width);
}

.inner.left {
  flex-direction: column;
  left: var(--uibar-width);
  top: var(--uibar-small-width);
  right: var(--uibar-small-width);
  bottom: var(--uibar-small-width);
}
.inner {
  display: flex;
  position: absolute;
  left: var(--uibar-width);
  top: var(--uibar-small-width);
  right: var(--uibar-small-width);
  bottom: var(--uibar-small-width);
  background-color: red;
  border-radius: var(--ui-round);
  z-index: 0;
}

.uibar.right {
  flex-direction: row-reverse;
}
.uibar.bottom {
  flex-direction: column-reverse;
}
.uibar.top {
  flex-direction: column;
}
.uibar.left {
  flex-direction: row;
}
.uibar {
  align-items: center
}

</style>


<div class=`uibar ${prop.direction}`>
  <div class={`inner ${prop.direction}`}>
    <slot/>  
  </div>
  <slot name="icons"/>  
</div>
