.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s;
}

.header div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.header nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 0.3s;
}

[data-theme="dark"] .header nav a {
    color: white;
}

.header nav a:hover {
    color: #00A249;
    text-decoration: underline;
}

.header .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.header .icons .btnStarted {
    background-color: #01F16D;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
}

header .icons .btnStarted:hover {
    background-color: #00A249;
    color: white;
    transition: 0.2s;
}

.header .icons button {
    all: unset;
    border: none;
    cursor: pointer;
}

.header .icons svg {
    transition: fill 0.3s;
}

[data-theme="dark"] .header .icons svg {
    fill: white;
}

[data-theme="dark"] .header .icons a svg {
    fill: white;
}