---
const {animation = "growing_circle", initiator_id} = Astro.props;
---

<style is:global>
.anim-wrapper {
  transition-duration: 300ms;
  width: 24px;
  height: 24px;
  border-radius: var(--ui-round);
  cursor: pointer;
}
.anim-wrapper:hover {
  background-color: var(--background);
  scale: 1.2;
}
#overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
  clip-path: circle(0% at var(--cx) var(--cy));
  animation-name: getHuge;
  animation-duration: 3s;
  --target: var(--foreground);
}

@keyframes getHuge {
  0% {
    clip-path: circle(0px at var(--cx) var(--cy));
    background: var(--target);
  }
  50% {
    opacity: 1;
    clip-path: circle(100vmax at var(--cx) var(--cy));
    background: var(--target);
    width: 100vw;
    height: 100vh;
  }
  to {
    opacity: 0;
    clip-path: circle(100vmax at var(--cx) var(--cy));
    background: var(--target);
    width: 100vw;
    height: 100vh;
    --target:var(--background);
  }
}
</style>
<div class="anim-wrapper" id={initiator_id}>
  <slot/>
</div>
<script define:vars={{initiator_id}}>

const toggler = document.getElementById(initiator_id);

function sleep(amount){
  return new Promise(ok => setTimeout(ok, amount));
}

function applyTheme(target) {
  console.log(localStorage.getItem("theme"));
  const current = target.getAttribute("data-theme") ?? localStorage.getItem("theme");
  const next = current === "dark" ? "light" : "dark";
  target.setAttribute('data-theme', next);
  localStorage.setItem("theme", next);
}

toggler.addEventListener("click", async _ => {
  const overlay = document.createElement("div");
  
  const rect = toggler.getBoundingClientRect();
  const x = rect.left + rect.width * 0.5;
  const y = rect.top + rect.height * 0.5;
  overlay.id = "overlay";
  overlay.style.setProperty("--cx", `${x}px`);
  overlay.style.setProperty("--cy", `${y}px`);

  document.body.appendChild(overlay);
  const duration = 3000;
  const applyTimeout = 900;
  await sleep(applyTimeout);
  applyTheme(document.firstElementChild);
  await sleep(duration - applyTimeout);
  overlay.remove();
});
</script>
